* { margin: 0; padding: 0; border: 0; font-family: sans-serif; }

.item { margin: 3.5rem 0; }

html { height: 100%; }

#wrap { width: 100%; height: auto; }

#wrap > div { margin: 0 auto; }

#menu > .menuclose_btn { display: none; }

/*---------header--------------*/
#header_bgbox { width: 100%; height: 5.555rem; background-color: rgba(253, 208, 158, 0.4); overflow: hidden; }
#header_bgbox > #headerWrap { width: 59.25rem; height: calc(100% - 1rem); padding: 1rem .375rem 0; margin: 0 auto; background-color: rgba(253, 208, 158, 0); }
#header_bgbox > #headerWrap > h1 { width: 7.25rem; height: 2.975rem; float: left; margin-left: 1.875rem; }
#header_bgbox > #headerWrap > h1 > a { width: 100%; height: 100%; display: block; background-image: url("../img/header/header_logo.png"); background-repeat: no-repeat; background-position: left; }
#header_bgbox > #headerWrap > #menu { display: none; }
#header_bgbox > #headerWrap > #sitemap { width: 14.125rem; height: 0.9375rem; float: right; margin-bottom: 0.73rem; }
#header_bgbox > #headerWrap > #sitemap > ul { width: 100%; height: 100%; margin-left: 1.875rem; }
#header_bgbox > #headerWrap > #sitemap > ul > li { height: 45%; float: left; margin-top: -0.625rem; margin-left: 0.1875rem; border-right: 0.0625px solid #ccc; padding: 0.3125rem 0.5rem; }
#header_bgbox > #headerWrap > #sitemap > ul > li > a { width: 100%; height: 100%; font-size: 0.875rem; font-size: 0.875rem; text-decoration: none; }
#header_bgbox > #headerWrap > #sitemap > ul .site01 { width: 2.75rem; height: 100%; }
#header_bgbox > #headerWrap > #sitemap > ul .site02 { width: 3.75rem; height: 100%; }
#header_bgbox > #headerWrap > #sitemap > ul .site03 { width: 3.75rem; height: 100%; border-right: 0; }
#header_bgbox > #headerWrap > #gnb { width: 49.375rem; height: 2.125rem; float: right; }
#header_bgbox > #headerWrap > #gnb > ul { width: 88%; height: inherit; margin-left: 7.8125rem; }
#header_bgbox > #headerWrap > #gnb > ul > li { height: inherit; margin-right: 3.2rem; float: left; }
#header_bgbox > #headerWrap > #gnb > ul > li > a { background-image: url("../img/header/gnb.png"); background-position: center; background-repeat: no-repeat; }
#header_bgbox > #headerWrap > #gnb > ul > li > a:hover { padding-top: 4px; border-radius: 0.675rem; border-bottom: 0.125rem solid #645622; text-decoration: none; transition: all .2s ease; }
#header_bgbox > #headerWrap > #gnb > ul .gnb_01 { width: 3.25rem; height: 1.5rem; }
#header_bgbox > #headerWrap > #gnb > ul .gnb_01 > a { width: 3rem; height: 1.5rem; background-position: -0.3125rem -0.3125rem; }
#header_bgbox > #headerWrap > #gnb > ul .gnb_02 { width: 4.875rem; height: 1.5rem; }
#header_bgbox > #headerWrap > #gnb > ul .gnb_02 > a { width: 4.625rem; height: 1.5rem; background-position: -0.3125rem -8.8125rem; }
#header_bgbox > #headerWrap > #gnb > ul .gnb_03 { width: 3.0625rem; height: 1.5rem; }
#header_bgbox > #headerWrap > #gnb > ul .gnb_03 > a { width: 2.8125rem; height: 1.5rem; background-position: -0.3125rem -6.6875rem; }
#header_bgbox > #headerWrap > #gnb > ul .gnb_04 { width: 5.875rem; height: 1.5rem; }
#header_bgbox > #headerWrap > #gnb > ul .gnb_04 > a { width: 5.625rem; height: 1.5rem; background-position: -0.3125rem -2.4375rem; }
#header_bgbox > #headerWrap > #gnb > ul .gnb_05 { width: 8.5rem; height: 1.5rem; }
#header_bgbox > #headerWrap > #gnb > ul .gnb_05 > a { width: 8.25rem; height: 1.5rem; background-position: -0.3125rem -4.5625rem; }

/*---------article--------------*/
#article_bg { width: 100%; height: auto; background-image: url(../img/article/bg.png); }
#article_bg #articleWrap { width: 948px; height: calc(100% - 1.5625vw); padding-top: 0; margin: 0 auto; box-shadow: .03125rem 0 .125rem; background-color: #fff; }
#article_bg #articleWrap > #sub_head { width: calc(100% - 7.5rem); height: 1.25rem; background-color: rgba(253, 208, 158, 0.4); padding: 1.125rem 3.75rem; }
#article_bg #articleWrap > #sub_head > #event3_maintitle { height: 20px; width: 276px; background-image: url(../img/article/sub_event/sub3/event3_txt.png); background-repeat: no-repeat; float: left; margin-left: 4%; background-position: 80%; }
#article_bg #articleWrap > #sub_head > #event_submenu { width: 8.9375rem; height: auto; float: right; }
#article_bg #articleWrap > #sub_head > #event_submenu > h4 { width: 8.9375rem; height: 20px; background-image: url(../img/article/sub_brand/brand_plus.png); background-size: 100%; background-repeat: no-repeat; cursor: pointer; float: right; }
#article_bg #articleWrap > #sub_head > #event_submenu > ul { width: 203px; height: auto; display: none; padding-top: 20px; margin-top: 17px; }
#article_bg #articleWrap > #sub_head > #event_submenu > ul > li { width: 100%; height: 40px; background-color: #e8c28d; }
#article_bg #articleWrap > #sub_head > #event_submenu > ul > li > a { width: 100%; height: 100%; display: block; color: #555; text-decoration: none; font-weight: bold; line-height: 40px; text-indent: 15px; font-size: 0.875rem; }
#article_bg #articleWrap > #sub_head > #event_submenu > ul > li > a:hover { color: #fff; }
#article_bg #articleWrap #event3 { width: 90%; height: auto; padding-left: 5%; }
#article_bg #articleWrap #event3 > .event3_title { width: 335px; height: 50px; background-position: center; background-image: url(../img/article/sub_event/sub3/event3_title.png); background-repeat: no-repeat; margin-bottom: 40px; background-size: 85%; }
#article_bg #articleWrap #event3 > #event3_sub_title > h4 { width: 90%; height: 34px; background-position: center; background-image: url(../img/article/sub_event/sub3/event3_title2.png); background-repeat: no-repeat; margin: 0 auto; margin-bottom: 35px; }
#article_bg #articleWrap #event3 > #event3_sub_title > ul { width: 100%; height: 100%; }
#article_bg #articleWrap #event3 > #event3_sub_title > ul > li { width: 100%; height: 334px; margin-bottom: 40px; }
#article_bg #articleWrap #event3 > #event3_sub_title > ul > li > a { width: 100%; height: 100%; display: block; background-repeat: no-repeat; background-position: center; background-size: 100%; }
#article_bg #articleWrap #event3 > #event3_sub_title > ul > li > a:hover { opacity: .7; transition: all .5s ease-out; }
#article_bg #articleWrap #event3 > #event3_sub_title > ul > .event_con1 > a { background-image: url(../img/article/sub_event/sub3/event1.png); }
#article_bg #articleWrap #event3 > #event3_sub_title > ul > .event_con2 > a { background-image: url(../img/article/sub_event/sub3/event2.png); }
#article_bg #articleWrap #event3 > #event3_sub_title > ul > .event_con3 > a { background-image: url(../img/article/sub_event/sub3/event3.png); }
#article_bg #articleWrap #event3 > #event3_sub_title > ul > .event_con4 > a { background-image: url(../img/article/sub_event/sub3/event4.png); background-position: center; }
#article_bg #articleWrap #event3 > #event3_sub_title > button { width: 100%; height: 45px; background-image: url(../img/article/sub_event/sub3/more_btn.png); background-repeat: no-repeat; background-position: center; cursor: pointer; transition: all 1s; }
#article_bg #articleWrap #event3 > #event3_sub_title > button:hover { background-color: #e8c28d; }

/*---------footer--------------*/
#footerWrap_box { width: 100%; height: 18.5rem; background-color: #e8c28d; }
#footerWrap_box > #footerWrap { width: 59.25rem; height: 100%; background-color: #e8c28d; margin: 0 auto; }
#footerWrap_box > #footerWrap > ul { width: 100%; height: 100%; }
#footerWrap_box > #footerWrap > ul > .sns { width: 100%; height: 5rem; }
#footerWrap_box > #footerWrap > ul > .sns > h3 { width: 6.25rem; height: 1.875rem; margin: 1.875rem 1.875rem 0 31.25rem; float: left; background-image: url(../img/footer/sns.png); background-repeat: no-repeat; background-size: 90%; }
#footerWrap_box > #footerWrap > ul > .sns > ul { width: 100%; height: 100%; min-height: 5rem; margin-right: 1.25rem; background-color: rgba(200, 200, 200, 0.1); box-shadow: .03125rem .03125rem .125rem; }
#footerWrap_box > #footerWrap > ul > .sns > ul > li { width: 25%; height: 100%; float: left; margin-right: 0.9375rem; margin-top: 1.125rem; }
#footerWrap_box > #footerWrap > ul > .sns > ul > .kakao { width: 2.875rem; height: 2.75rem; background-image: url("../img/footer/icon_kakao.png"); }
#footerWrap_box > #footerWrap > ul > .sns > ul > .kakao:hover { background-image: url(../img/footer/icon_kakao_on.png); transition: .4s ease-in-out; }
#footerWrap_box > #footerWrap > ul > .sns > ul > .twitter { width: 2.875rem; height: 2.75rem; background-image: url("../img/footer/icon_tw.png"); }
#footerWrap_box > #footerWrap > ul > .sns > ul > .twitter:hover { background-image: url(../img/footer/icon_tw_on.png); transition: .4s ease-in-out; }
#footerWrap_box > #footerWrap > ul > .sns > ul > .facebook { width: 2.875rem; height: 2.75rem; background-image: url("../img/footer/icon_face.png"); }
#footerWrap_box > #footerWrap > ul > .sns > ul > .facebook:hover { background-image: url(../img/footer/icon_face_on.png); transition: .4s ease-in-out; }
#footerWrap_box > #footerWrap > ul > .sns > ul > .instagram { width: 2.875rem; height: 2.75rem; background-image: url("../img/footer/icon_insta.png"); }
#footerWrap_box > #footerWrap > ul > .sns > ul > .instagram:hover { background-image: url(../img/footer/icon_insta_on.png); transition: .4s ease-in-out; }
#footerWrap_box > #footerWrap > ul > .footer_box { width: 59.25rem; height: 3.4375rem; padding: 2.1875rem 0.025rem 1.875rem; margin: 0 auto; }
#footerWrap_box > #footerWrap > ul > .footer_box > h3 { width: 7.0625rem; height: 2.8125rem; float: left; background-image: url(../img/footer/able_logo.png); background-repeat: no-repeat; }
#footerWrap_box > #footerWrap > ul > .footer_box > #addBox { height: 11.375rem; width: 35.3125rem; margin-left: 2.8125rem; float: left; }
#footerWrap_box > #footerWrap > ul > .footer_box > #addBox > ul { width: 100%; height: 100%; }
#footerWrap_box > #footerWrap > ul > .footer_box > #addBox > ul > li { margin-bottom: 1.1875rem; }
#footerWrap_box > #footerWrap > ul > .footer_box > #addBox > ul > li address > p { color: #555; margin-bottom: 0.2rem; }
#footerWrap_box > #footerWrap > ul > .footer_box > #addBox > ul > li address > p > strong { font-weight: bold; color: #555; }

/*# sourceMappingURL=sub_event3.css.map */
